body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f8ff;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.leds {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.led {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.3;
}

.vermelho { background: red; }
.verde { background: green; }
.azul { background: blue; }

.ativo {
    opacity: 1;
    box-shadow: 0 0 15px white;
}